@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  font-family: "Open Sans", sans-serif;
}

:root {
  --cor-vermelha: #ff3131;
  --cor-preta: black;
  --cor-branca: white;
}

body {
  width: 100vw;
  height: 100vh;  
}

#conteudo-principal {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 11fr;
}

/* Estilizando o Menu Lateral */
#menu-lateral {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-height: 100%;
  max-width: 300px;
  padding: 50px 10px 50px 0px;
  border-right: 2px solid var(--cor-vermelha);
  color: var(--cor-vermelha);
  font-family: "Open Sans", sans-serif;
}

#logo-doe-vida {
  max-height: 100px;
  max-width: 100px;
}

#logo-doe-vida,
#menu-lateral > h1 {
  font-size: 2rem;
  margin: 0px auto;
}

#nav-menu-lateral {
  display: flex;
  flex-direction: column;
  gap: 30px;
  font-size: 2rem;
}

.btn-menu-lateral {
  padding: 10px 0;
}

.link-menu-lateral {
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--cor-vermelha);
  text-decoration: none;
  margin-left: 20px;
}

.icon-menu-lateral {
  height: 30px;
}
/* Fim do Menu Lateral */

/* Estilizando o Menu Superior */
#div-tela-inical {
  width: 100%;
}

#cabecalho-tela-inicial {
  width: 100%;
  height: 100px;
  padding: 10px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid var(--cor-vermelha);
  font-family: "Open Sans", sans-serif;
  color: var(--cor-vermelha);
}

#btn-perfil-usuario {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 250px;
  height: 70px;
  padding: 0px 30px;
  border: 2px solid var(--cor-vermelha);
  border-radius: 40px;
  text-decoration: none;
  color: var(--cor-preta);
}

.dados-usuario {
  color: var(--cor-vermelha);
  font-size: 0.8rem;
}

.icon-menu-superior > img {
  height: 30px;
}
/* Fim do Menu Superior */

/* Estilizando Carrossel de Campanhas */
#carrossel-campanhas {
  width: 100%;
  height: 200px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.img-campanha > img {
  height: 150px;
  width: 450px;
  border: 2px solid var(--cor-vermelha);
  border-radius: 40px;
}

/*--------- PERGUNTAS FREQUENTES ---------*/

/* Estilo para o título da seção de FAQs */
#titulo-faqs{
  color: var(--cor-vermelha);
  width: 100%; /* O título ocupa a largura total do contêiner pai */
  text-align:center;
}

/* Estilo para o contêiner principal dos FAQs */
#conteudo-faqs{
  min-height: 100vh; /* Garante que o contêiner tenha pelo menos a altura total da janela de visualização */
  display:flex;
  align-items: center;
  justify-content: center;
}

/* Estilo para o contêiner interno dos FAQs */
#container{
  display:flex;
  flex-direction:column;
  gap:8px; /* Define o espaçamento entre os itens*/
  width: 700px;
}

/* Estilo para cada item de acordeão */
.accordion{
  border-bottom: 2px solid var(--cor-vermelha); /* Adiciona uma borda inferior vermelha de 2 pixels */
  background-color: #fff; /* Define a cor de fundo como branca */
  border-radius:8px;
  padding:12px;
  cursor: pointer;
  box-shadow:5px 5px 5px rgba(0,0,0,0.1); /* Adiciona uma sombra sutil ao redor do acordeão */
}

/* Estilo para o cabeçalho do acordeão */
.accordion-header{
  font-weight: bold; /*Negrito*/
  color:var(--cor-vermelha);
  width: 100%; /* O cabeçalho ocupa a largura total do contêiner do acordeão */
  border:none; /* Remove qualquer borda */
  background-color:transparent; /* Define o fundo como transparente */
  display:flex;
  align-items: center;
  justify-content: space-between; /* Distribui o espaço entre os itens(Fica com um espaço entre a pergunta e o icone*/
  cursor:pointer;
  font-size:18px;
}

/* Estilo para o texto no cabeçalho do acordeão */
.accordion-header span{
max-width: 100%; /* Garante que o texto não exceda a largura do cabeçalho */
white-space: nowrap; /* Impede a quebra de linha no texto */
overflow:hidden; /* Oculta o texto que ultrapassa o limite do contêiner*/
text-overflow: ellipsis; /* Adiciona reticências (...) para indicar texto cortado */
}

/* Estilo para o corpo do acordeão */
.accordion-body{
  color:#444;
  opacity:0; /* Define a opacidade como 0 (oculto) por padrão (O texto desaparece)*/
  font-size:16px;
  height: 0; /* Define a altura como 0 (oculto) por padrão (body fica sem altura*/
  overflow:hidden;  /* Oculta o conteúdo que excede a altura do corpo */
  transition: opacity .3s; /* Adiciona uma transição suave para a opacidade */
}

/* Estilo para o corpo do acordeão quando está ativo */
.accordion-body.active{
  height: 100%; /* Define a altura como 100% para mostrar o conteúdo - o conteudo aparece*/
  opacity:1; /* Define a opacidade como 1 (visível) - o texto fica visivel*/
  padding: 5px 0px;
  text-align: justify;
}

/* Estilo para a seta do acordeão */
.arrow{
  transition: transform .2s linear; /* Adiciona uma transição suave para a transformação */
}

/* Se o acordeão tiver a classe "active", a seta será girada 180 graus */
.accordion:has(.active) .arrow{
  transform: rotate(180deg); /* Gira a seta em 180 graus */
}


/*Responsividade*/

@media (max-width: 990px) {
  #container {
    width: 95%;
    gap: 4px;
  }

  #titulo-faqs{
    font-size: 25px;
  }

  .accordion-header span {
    font-size: 18px;
  }

  .accordion-body {
    font-size: 16px;
    padding: 10px 5px;
  }
}

/* FIM DE CODIGO: PERGUNTAS FREQUENTES */